*{
    font-family: 'Segoe UI', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 1.2s linear;
}
/* CSS variable */
:root{
    --white:#fff;
    --dark-gray:#ababab;
    --light-gray:#808080;
    --dark-bg:#222222;
    --light-bg:#333333;
    --yellow:#bac964;
    --box-shadow:0 0.5rem 1rem rgba(0,0,0,0.1);
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}
body{
    background-color: var(--dark-bg);
}
section{
    padding: 5rem 9%;
}
.heading{
    color: var(--white);
    font-size: 3rem;
    font-weight: 200;
    text-align: center;
    padding-bottom: 4rem;
}
.heading span{
    font-weight: 700;
}
.btn{
    background-color: var(--yellow);
    font-size: 1.7rem;
    padding: 1rem 2rem;
    border-radius: 2rem;
    color: var(--white);
    text-transform: uppercase;
    margin-right: 1rem;
    display: inline-block;
    margin-top: 1rem;
}
.home{
    height: 100vh;
    background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../images/bg-image.jpeg');
    filter: grayscale(100%);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.home .hero-text{
    font-size: 7rem;
    color: var(--white);
    font-weight: 200;
    line-height: 1.2;
}
.home .hero-text span{
    font-weight: 800;
}
.home p{
    color: var(--dark-gray);
    font-size: 1.5rem;
    margin-top: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}
.header{
    position: fixed;
    left: 0;
    top: 0;
    padding: 5rem 9%;
    right: 0;
    z-index: 100;
}
.header.active{
background-color: var(--white);
padding: 3rem 9%;
}
.header.active .navbar a{
color: var(--dark-bg);
}
.header.active .navbar a:hover{
color: var(--yellow);
}
.header .navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header .navbar a{
    font-size: 1.5rem;
    color: var(--white);
    padding: 0 2rem;
    letter-spacing: 0.3rem;
    font-weight: 300;
    text-transform: uppercase;
}
.header .menu{
    font-size: 2.5rem;
    color: var(--white);
    cursor: pointer;
    text-align: left;
    display: none;
}
.header.active .menu{
    color: var(--dark-bg);
}
html::-webkit-scrollbar{
    width: 1rem;
}
html::-webkit-scrollbar-track{
    background-color: var(--white);
}
html::-webkit-scrollbar-thumb{
    background-color: var(--light-bg);
}
/* Portfolio */
.portfolio .box-container .box .image {
    height: 30rem;
    overflow: hidden;
    position: relative;
}
.portfolio .box-container .box .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.portfolio .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 4rem;
}
.portfolio .box-container .box{
    background-color: var(--light-bg);
    padding: 1rem;
    box-shadow: var(--box-shadow);
}
.portfolio .box-container .box:hover .image img{
    transform: scale(1.2);
}
.portfolio .box-container .box:hover .image .content{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--light-bg);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(100%);
}
.portfolio .box-container .box:hover .image .content h2{
    font-size: 2rem;
    color: var(--white);
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}
.portfolio .box-container .box:hover .image .content{
    transform: translateY(0);
}

/* Resume */
.resume .col-container .col .box {
    background-color: var(--light-bg);
    padding: 2.5rem;
    margin: 2rem 0;
    box-shadow: var(--box-shadow);
}
.resume .col-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 4rem;
}
.resume .col-container .col h2{
    font-size: 2.5rem;
    color: var(--white);
    font-weight: 200;
    padding-bottom: 2rem;
}
.resume .col-container .col .box span {
    color: var(--white);
    font-size: 1.7rem;
    display: flex;
    align-items: center;
}
.resume .col-container .col .box span i{
    padding-right: 0.5rem;
    font-size: 1.7rem;
}
.resume .col-container .col .box h3{
    color: var(--yellow);
    font-size: 2rem;
    margin-top: 1rem;
    font-weight: 400;
}
.resume .col-container .col .box p{
    font-size: 1.7rem;
    color: var(--dark-gray);
    margin-top: 1rem;
    line-height: 1.5;
    text-transform: none;
}
.resume .col-container .col .box .university{
    text-transform: capitalize;
    color: var(--white);
}
/* about section */
.about .box-container .box .image{
    height: 100%;
    overflow: hidden;
}
.about .box-container .box .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 4rem;
}
.about .box-container .box p{
    color: var(--light-gray);
    margin-bottom: 2rem;
    font-size: 1.7rem;
    letter-spacing: 0.1rem;
    line-height: 1.5;
    text-transform: none;
}
/* about section end */

/* Client section start */
.clients .box-container .box .image{
    width: 12rem;
    height: 12rem;
    overflow: hidden;
    margin: 0 auto;
}
.clients .box-container .box .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.clients .box-container .box{
    text-align: center;
    background-color: var(--light-gray);
    padding: 2.5rem;
    box-shadow: var(--box-shadow);
}
.clients .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 4rem;
}
.clients .box-container .box .content{
    margin-top: 2rem;
}
.clients .box-container .box .content p:nth-child(1){
    font-size: 1.7rem;
    color: var(--dark-gray);
    margin-bottom: 2rem;
    line-height: 1.5;
    letter-spacing: 0.1rem;
    text-transform: none;
}
.clients .box-container .box .content p:nth-child(2){
    font-style: italic;
    font-size: 1.5rem;
    color: var(--white);
}
.clients .box-container .box .content p:nth-child(2) span{
    color: var(--yellow);
    font-style: normal;
}
/* Client section end */

/* Service section start */
.services .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 4rem;
}
/* Service section end */